.textStyle {
    font-size: 16px;
}

.textStyle .descp {
    font-size: 14px;
}
.cont-categoria {
    padding-right: 32px;
    padding-left: 16px;
}

.padTitle {
    padding-left: 16px;
    padding-bottom: 16px;
}

.padCard {
    padding-bottom: 20px;
}

hr {
    margin: 24px 32px;
}

.catCont {
    display: flex;
    padding-left: 32px;
    align-items: center;
}
